    .pal-blue {
      background-color: #009cde
    }

    .pay-blue {
      background-color: #003087
    }

    .pink {
      background-color: #de0063
    }

    .purple {
      background-color: #640487
    }

    .green {
      background-color: #00cf92
    }

    .orange {
      background-color: #ff9600
    }

    .pink,
    .purple,
    .green,
    .orange,
    .pink *,
    .purple *,
    .green *,
    .orange *,
    .pay-blue *,
    .pal-blue * {
      color: #fff
    }

    .clock {
      color: black;
      background-color: #00a8ea;
      display: flex;
      display: -ms-flexbox;
      padding: 20px 0;
      justify-content: center;
      -ms-flex-pack: center;
      overflow: hidden;
      align-items: center;
      -ms-flex-align: center
    }

    .clock>div {
      display: flex;
      display: -ms-flexbox;
      justify-content: center;
      -ms-flex-pack: center
    }

    .number {
      background: #ffffff;
      font-family: PayPalSansSmall-Regular, Helvetica Neue, Arial, sans-serif;
      font-weight: 900;
      border-radius: 20px;
      margin-right: 2px;
      width: 60px;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      text-align: center;
      font-size: 1.5rem;
      line-height: 30px
    }

    @media screen and (min-width:1024px) {
      .number {
        font-size: 56px;
        line-height: 68px
      }
    }

    @media screen and (max-width:1023px) {
      .number {
        width: 55px;
        height: 55px;
        border-radius: 15px;
        justify-content: center
      }
    }

    @media screen and (max-width:767px) {
      .number {
        width: 40px;
        height: 38px;
        border-radius: 10px
      }
    }

    @media screen and (max-width:414px) {
      .number {
        width: 36px;
        height: 52px;
        border-radius: 4px;
        margin-right: 3px
      }
    }

    @media screen and (max-width:350px) {
      .number {
        width: 28px;
        height: 34px;
        border-radius: 4px;
        margin-right: 2px
      }
    }

    .move1 {
      animation-duration: 1.3s;
      top: 1px
    }

    @media screen and (max-width:1023px) {
      .move1 {
        top: 15px
      }
    }

    .move2 {
      animation-duration: 1.3s;
      top: 400px
    }

    @media screen and (min-width:1024px) {
      @keyframes topDivAnimation {
        0% {
          top: 0px
        }

        100% {
          top: -400px
        }
      }

      @keyframes bottomDivAnimation {
        0% {
          top: 60px
        }

        100% {
          top: -120px
        }
      }
    }

    @media screen and (max-width:1023px) {
      @keyframes topDivAnimation {
        0% {
          top: 0px
        }

        100% {
          top: -80px
        }
      }

      @keyframes bottomDivAnimation {
        0% {
          top: 60px
        }

        100% {
          top: -50px
        }
      }
    }

    .desktop-visible {
      display: none
    }

    @media (min-width:1024px) {
      .desktop-visible {
        display: block
      }
    }

    .mobile-visible {
      display: block
    }

    @media (min-width:1024px) {
      .mobile-visible {
        display: none
      }
    }

    .qrc-wrapper {
      margin: 5px 0 30px
    }

    .qrc-wrapper .col-md-3 {
      margin-right: 32px;
      padding-left: 0;
      padding-right: 0
    }

    .qrc-wrapper .col-md-3 img {
      width: 126px;
      height: 126px
    }

    .qrc-wrapper .input-wrap {
      position: relative
    }

    .qrc-wrapper .phone-success.success-error {
      background: #F5FDFB;
      height: auto;
      border: 2px solid #018065;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 16px 40px 20px;
      margin-bottom: 6px;
      color: #000000;
      text-align: center;
      font-size: 1.42857143rem;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 32px
    }

    .qrc-wrapper .phone-success.success-error img {
      height: auto;
      margin-bottom: 3px
    }

    .qrc-wrapper .success-icon {
      display: block;
      margin: 0 auto
    }

    .qrc-wrapper .success-error {
      height: 0;
      padding: 0;
      transition-property: padding, height;
      transition-duration: .5s;
      transition-timing-function: ease
    }

    .qrc-wrapper .success-error img {
      height: 0
    }

    .qrc-wrapper .phone-error.success-error {
      height: auto;
      background: #FDDBD3;
      border-radius: 4px;
      color: #0C0C0D;
      padding: 14px;
      margin-bottom: 6px;
      font-size: 1rem;
      font-size: 14px;
      font-size: .875rem;
      line-height: 20px
    }

    .qrc-wrapper .phone-error.success-error>span {
      overflow: auto
    }

    .qrc-wrapper .phone-error.success-error img {
      height: auto
    }

    .qrc-wrapper .error-icon {
      float: left;
      margin-right: 10px
    }

    .qrc-wrapper .error-icon+span {
      float: right;
      display: block;
      width: 89%
    }

    .qrc-wrapper .device-hero-qrc-sms__paragraph {
      padding-bottom: 30px;
      padding: 48px 0 37px;
      font-weight: 600
    }

    @media (min-width:1366px) {
      .qrc-wrapper .device-hero-qrc-sms__paragraph {
        font-size: 1.42857143rem;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1.5
      }
    }

    .qrc-wrapper .ppvx_phone-input {
      border-left: 1px solid rgba(235, 232, 232, 0.3);
      padding-left: 32px
    }

    .qrc-wrapper .ppvx_phone-input .device-hero-qrc-sms__paragraph {
      font-size: 1rem;
      font-size: 14px;
      font-size: .875rem;
      line-height: 20px;
      padding: 0
    }

    .qrc-wrapper .ppvx_text-input {
      width: 319px
    }

    .qrc-wrapper .ppvx_text-input__control {
      background: #ffffff url('https://www.paypalobjects.com/marketing/web/shared/qrc-sms/phone.png') no-repeat;
      background-position: 12px;
      padding: 20px 12px 18px 35px
    }

    .qrc-wrapper .error-flex {
      display: flex;
      align-items: center
    }

    .qrc-wrapper .ppvx_text-input__label {
      padding-left: 24px
    }

    .qrc-wrapper .ppvx_text-input__control:placeholder-shown:not(:focus)+.ppvx_text-input__label {
      top: 1.2rem
    }

    .theme-background-wave-blue {
      background: #142c8e url('background-swirls.png');
      background-size: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
      color: #ffffff
    }

    .device-hero-qrc-sms {
      align-items: center;
      line-height: 32px;
      font-size: 1.42857143rem;
      font-size: 20px;
      font-size: 1.25rem;
      padding: 0;
      min-height: 385px;
      text-align: left
    }

    .device-hero-qrc-sms.theme-background-color-blue {
      background-image: radial-gradient(ellipse farthest-side at top left, #009cde, #003087 160%)
    }

    @media (min-width:1366px) {
      .device-hero-qrc-sms {
        padding-bottom: 40px
      }
    }

    .device-hero-qrc-sms .device-hero-qrc-sms__cta {
      background: #F9B822;
      color: #0C0C0D;
      margin-top: 31px;
      max-width: 100%
    }

    @media (min-width:600px) {
      .device-hero-qrc-sms .device-hero-qrc-sms__cta {
        max-width: 320px
      }
    }

    .device-hero-qrc-sms .container {
      width: 100%;
      display: block
    }

    .device-hero-qrc-sms .container .wrapper {
      clear: both;
      position: relative
    }

    @media (min-width:1366px) {
      .device-hero-qrc-sms .container .wrapper {
        display: flex
      }
    }

    .device-hero-qrc-sms .container>div {
      margin-left: -0.9375rem;
      margin-right: -0.9375rem
    }

    .device-hero-qrc-sms .container>div::after {
      clear: both;
      content: "";
      display: table
    }

    .device-hero-qrc-sms .pypl-btn.pypl-sms-btn {
      margin: 12px 2px;
      background: #F9B822;
      color: #0C0C0D;
      min-width: 138px;
      min-height: 56px;
      border-radius: 30px
    }

    .device-hero-qrc-sms .pypl-btn.pypl-sms-btn .loader {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: 50%;
      top: 57%;
      z-index: 6;
      margin: -15px auto auto -15px;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      border-bottom: 2px solid transparent;
      border-top: 2px solid #fff;
      border-radius: 100%;
      -webkit-animation: spin .7s infinite linear;
      -moz-animation: spin .7s infinite linear;
      -o-animation: spin .7s infinite linear;
      animation: spin .7s infinite linear
    }

    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg)
      }

      to {
        -webkit-transform: rotate(359deg)
      }
    }

    @-moz-keyframes spin {
      from {
        -moz-transform: rotate(0deg)
      }

      to {
        -moz-transform: rotate(359deg)
      }
    }

    @-o-keyframes spin {
      from {
        -o-transform: rotate(0deg)
      }

      to {
        -o-transform: rotate(359deg)
      }
    }

    @keyframes spin {
      from {
        transform: rotate(0deg)
      }

      to {
        transform: rotate(359deg)
      }
    }

    @keyframes spin {
      from {
        transform: rotate(0deg)
      }

      to {
        transform: rotate(359deg)
      }
    }

    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg)
      }

      to {
        -webkit-transform: rotate(359deg)
      }
    }

    @-moz-keyframes spin {
      from {
        -moz-transform: rotate(0deg)
      }

      to {
        -moz-transform: rotate(359deg)
      }
    }

    @-o-keyframes spin {
      from {
        -o-transform: rotate(0deg)
      }

      to {
        -o-transform: rotate(359deg)
      }
    }

    @keyframes spin {
      from {
        transform: rotate(0deg)
      }

      to {
        transform: rotate(359deg)
      }
    }

    @media (min-width:752px) {
      .device-hero-qrc-sms__contai ner {
        display: flex;
        min-height: 328px
      }
    }

    @media (min-width:752px) {
      .device-hero-qrc-sms__contai ner__content-flex-wrapper {
        display: flex;
        width: 100%
      }
    }

    .device-hero-qrc-sms__contai ner__content-flex-item--center {
      text-align: center
    }

    @media (min-width:752px) {

      .device-hero-qrc-sms__contai ner__content-flex-item,
      .device-hero-qrc-sms__contai ner__content-flex-item--center {
        align-self: center;
        width: 100%
      }
    }

    @media (min-width:1152px) {

      .device-hero-qrc-sms__contai ner__content-flex-item,
      .device-hero-qrc-sms__contai ner__content-flex-item--center {
        text-align: left
      }
    }

    @media (min-width:1366px) and (max-width:1151px) {
      .device-hero-qrc-sms__contai ner--large-padding {
        padding-bottom: 120px
      }
    }

    .device-hero-qrc-sms__contai ner--large-padding--right>div,
    .device-hero-qrc-sms__contai ner--small-padding--right>div {
      flex-direction: row-reverse
    }

    .device-hero-qrc-sms .device-bottom {
      text-align: center
    }

    @media (min-width:1024px) {
      .device-hero-qrc-sms .device-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: left
      }
    }

    @media (min-width:1366px) {
      .device-hero-qrc-sms .device-bottom {
        position: relative;
        bottom: -40px
      }
    }

    .device-hero-qrc-sms .device-mobile {
      position: relative;
      max-width: 535px;
      float: none;
      width: 90%;
      bottom: -8px;
      right: -5px
    }

    @media (min-width:1366px) {
      .device-hero-qrc-sms .device-mobile {
        position: absolute;
        bottom: 0;
        right: 0
      }
    }

    @media (min-width:752px) {
      .device-hero-qrc-sms__device-image--large--right {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 40px;
        position: absolute;
        top: 0;
        left: 0px;
        right: -60px
      }
    }

    .device-hero-qrc-sms__headline.pypl-heading {
      font-weight: 600;
      font-size: 3.71428571rem;
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 56px;
      padding: 0
    }

    @media (min-width:1366px) {
      .device-hero-qrc-sms__headline.pypl-heading {
        font-size: 7.14285714rem;
        font-size: 100px;
        font-size: 6.25rem;
        line-height: 98px
      }
    }

    .device-hero-qrc-sms__hatch-text {
      padding-top: 30px
    }

    .device-hero-qrc-sms__hatch-text a {
      color: #56CCFE
    }

    .device-hero-qrc-sms__hatch-text a .arrow-nowrap {
      white-space: nowrap
    }

    .device-hero-qrc-sms__hatch-text a:hover {
      color: #a7bff5
    }

    @media (min-width:376px) {
      .device-hero-qrc-sms__hatch-text a:hover {
        font-size: 1.42857143rem;
        font-size: 20px;
        font-size: 1.25rem
      }
    }

    .device-hero-qrc-sms__hatch-text a:hover .tertiary-button--icon::after {
      left: 9px;
      background-image: url("data:image/svg+xml,<svg width='28' height='16' viewBox='0 0 28 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M18.7096 0.387212C18.4046 0.779546 18.4325 1.34677 18.793 1.70721L24.087 6.999L1 7C0.447715 7 0 7.44772 0 8L0.00672773 8.11662C0.0644928 8.61396 0.487164 9 1 9L24.084 8.999L18.7937 14.293C18.4033 14.6837 18.4034 15.3168 18.794 15.7073C19.1846 16.0977 19.8178 16.0976 20.2082 15.707L27.2073 8.70498C27.5977 8.31439 27.5976 7.68127 27.207 7.29082L20.207 0.292793C19.8164 -0.0976758 19.1833 -0.0975864 18.7928 0.292993L18.7096 0.387212Z' fill='%23a7bff5'/></svg>")
    }

    .device-hero-qrc-sms__hatch-text a .tertiary-button--icon {
      width: 34px;
      height: 28px;
      margin-left: 6px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: all .1s
    }

    .device-hero-qrc-sms__hatch-text a .tertiary-button--icon:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: #56CCFE;
      z-index: 1;
      width: 28px;
      height: 28px;
      top: 6px;
      left: 8px;
      opacity: .4
    }

    .device-hero-qrc-sms__hatch-text a .tertiary-button--icon:after {
      content: "";
      position: absolute;
      background-image: url("images/device-hero.png");
      background-repeat: no-repeat;
      z-index: 1;
      transition: all .1s;
      background-size: 100%;
      width: 26px;
      height: 14px;
      top: 46%;
      left: 1px
    }

    .device-hero-qrc-sms-organism:first-of-type .device-hero-qrc-sms {
      padding-top: 0
    }

    @media (min-width:1024px) {
      .device-hero-qrc-sms-organism:first-of-type .device-hero-qrc-sms {
        margin-top: 60px
      }
    }

    h2.pypl-heading {
      font-size: 2.85714286rem;
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 48px;
      color: #0C0C0D;
      font-weight: 600
    }

    @media (min-width:1024px) {
      h2.pypl-heading {
        font-size: 3.42857143rem;
        font-size: 48px;
        font-size: 3rem;
        line-height: 56px
      }
    }

    .bnpllink {
      display: block;
      margin-top: 24px
    }

    .bnpllink a {
      font-weight: normal;
      color: #1072EB
    }

    .tertiary-button--icon {
      width: 34px;
      height: 28px;
      margin-left: 6px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: all .1s
    }

    .tertiary-button--icon:before {
      content: "";
      position: absolute;
      background-color: #e4f1fb;
      border-radius: 50%;
      z-index: 1;
      width: 28px;
      height: 28px;
      top: 6px;
      left: 8px;
      opacity: .7
    }

    .tertiary-button--icon:after {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,<svg width='28' height='16' viewBox='0 0 28 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M18.7096 0.387212C18.4046 0.779546 18.4325 1.34677 18.793 1.70721L24.087 6.999L1 7C0.447715 7 0 7.44772 0 8L0.00672773 8.11662C0.0644928 8.61396 0.487164 9 1 9L24.084 8.999L18.7937 14.293C18.4033 14.6837 18.4034 15.3168 18.794 15.7073C19.1846 16.0977 19.8178 16.0976 20.2082 15.707L27.2073 8.70498C27.5977 8.31439 27.5976 7.68127 27.207 7.29082L20.207 0.292793C19.8164 -0.0976758 19.1833 -0.0975864 18.7928 0.292993L18.7096 0.387212Z' fill='%231072EB'/></svg>");
      background-repeat: no-repeat;
      z-index: 1;
      transition: all .1s;
      background-size: 100%;
      width: 26px;
      height: 14px;
      top: 46%;
      left: 1px
    }

    a {
      font-weight: normal;
      color: #1072EB
    }

    a:hover {
      color: #1040c1
    }

    a:hover .tertiary-button--icon::after {
      left: 9px;
      background-image: url("data:image/svg+xml,<svg width='28' height='16' viewBox='0 0 28 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M18.7096 0.387212C18.4046 0.779546 18.4325 1.34677 18.793 1.70721L24.087 6.999L1 7C0.447715 7 0 7.44772 0 8L0.00672773 8.11662C0.0644928 8.61396 0.487164 9 1 9L24.084 8.999L18.7937 14.293C18.4033 14.6837 18.4034 15.3168 18.794 15.7073C19.1846 16.0977 19.8178 16.0976 20.2082 15.707L27.2073 8.70498C27.5977 8.31439 27.5976 7.68127 27.207 7.29082L20.207 0.292793C19.8164 -0.0976758 19.1833 -0.0975864 18.7928 0.292993L18.7096 0.387212Z' fill='%231040c1'/></svg>")
    }

    .editorial {
      font-size: 1.14285714rem;
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      color: #0C0C0D;
      padding-top: 60px
    }

    @media (min-width:552px) {
      .editorial {
        font-size: 1.42857143rem;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 32px
      }
    }

    .editorial .editorial__headline {
      color: #0C0C0D
    }

    .editorial .disclosure {
      color: #4A4A4A
    }

    @media only screen and (min-width:1024px) {
      .editorial {
        padding: 114px 60px 0
      }
    }

    .editorial.reverse-render .row {
      display: flex;
      box-orient: vertical;
      box-direction: reverse;
      flex-direction: column-reverse
    }

    @media screen and (min-width:752px) {
      .editorial.reverse-render .row {
        display: block
      }
    }

    @media (min-width:752px) {
      .editorial.reverse-render .editorial__container {
        padding-right: 24px
      }

      .editorial.reverse-render .editorial__device-image {
        padding-left: 24px
      }
    }

    .editorial .editorial__image {
      max-width: 100%;
      max-height: none;
      margin-bottom: 30px
    }

    @media (min-width:752px) {
      .editorial .editorial__image {
        margin-bottom: 0
      }
    }

    @media (min-width:752px) {
      .editorial__container {
        padding-left: 24px
      }

      .editorial__device-image {
        padding-right: 24px
      }
    }

    .pullout.custom-pullout {
      background-color: #121661;
      padding-top: 79px
    }

    .pullout.custom-pullout .pypl-heading {
      font-size: 2.28571429rem;
      font-size: 32px;
      font-size: 2rem;
      line-height: 40px;
      color: #fff;
      text-align: left
    }

    @media (min-width:752px) {
      .pullout.custom-pullout .pypl-heading {
        font-size: 3.14285714rem;
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        text-align: center
      }
    }

    .pullout.custom-pullout .pullout__paragraph {
      color: #fff
    }

    .pullout.custom-pullout .pypl-btn {
      color: #0d3685;
      background: #fff
    }

    .clock {
      background-color: #121661;
      color: white;
      padding-bottom: 96px
    }

    .clock .number {
      background-color: #1072EB
    }

    .clock .number span {
      font-size: 1.71428571rem;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 30px
    }

    @media screen and (min-width:960px) {
      .clock .number span {
        font-size: 56px;
        line-height: 68px
      }
    }

    .notification-ribbon.custom-notification-ribbon {
      background-color: #ffffff;
      color: #0c0c0d;
      padding: 44px 0;
      border: 1px solid #C4C4C4;
      text-align: left
    }

    @media (min-width:752px) {
      .notification-ribbon.custom-notification-ribbon {
        text-align: center
      }
    }

    @media only screen and (min-width:1152px) {
      .notification-ribbon.custom-notification-ribbon .container {
        max-width: 1380px
      }
    }

    .notification-ribbon.custom-notification-ribbon .notification-ribbon__headline {
      color: #0C0C0D;
      font-size: 1.42857143rem;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 32px;
      font-weight: 600
    }

    .notification-ribbon.custom-notification-ribbon .notification-hatch {
      margin: 20px 0 0;
      display: block
    }

    @media (min-width:1024px) {
      .notification-ribbon.custom-notification-ribbon .notification-hatch {
        display: inline-block;
        margin: 0 0 0 10px
      }
    }

    .disclosure,
    .merchant-statment {
      font-size: 1rem;
      font-size: 14px;
      font-size: .875rem;
      line-height: 20px;
      color: #687173
    }

    .disclosure a,
    .merchant-statment a {
      font-weight: normal
    }

    .showcase .container hr {
      display: none
    }

    .showcase .showcase__header .showcase__headline {
      font-size: 2.28571429rem;
      font-size: 32px;
      font-size: 2rem;
      line-height: 40px;
      text-align: left !important;
      color: #0C0C0D
    }

    @media (min-width:1024px) {
      .showcase {
        padding: 156px 0 100px
      }

      .showcase .container {
        display: flex;
        align-items: center
      }

      .showcase .showcase__header {
        width: 40%;
        padding-bottom: 0
      }

      .showcase .showcase__header .showcase__headline {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 3.42857143rem;
        font-size: 48px;
        font-size: 3rem;
        line-height: 56px
      }

      .showcase .showcase__container {
        width: 60%;
        padding: 0
      }
    }

    @media (min-width:752px) {
      .showcase .showcase__container .showcase__logo.col-md-4 {
        padding-top: 0
      }
    }

    .statement {
      padding: 0
    }

    .statement p {
      font-size: 1rem;
      font-size: 14px;
      font-size: .875rem;
      line-height: 20px
    }